@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --main-color: #103178;
    --secondary-color: #5B6C8F;
    --hover-color: #47b5ed;
    --bg-color: #F0F2F5;
    --btn-color-1: #FFC800;
    --btn-color-2: #13A05D;
    --font: "Inria Serif", serif;
}

body {
    font-family: var(--font);
}

a{
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}